{% extends "base_template.html" %}

{% block side1 %}
    <h1>welcome to udesh group</h1>
    <p>you want join as then plz
        fill details
    </p>
{% endblock %}



{% block middle %}  
  <h1>Please singup to Continue</h1>
    <form>
        <p>first_name      <input type='text'></p>
        <p>last_name       <input type='text'></p>
        <p>email           <input type='text'></p>
        <p>password        <input type='password'></p>
        <p>conform password<input type='password'></p>

        <p><input type='submit' value='submit'></p>
    </form>


{% endblock %}



{% block side2 %}
 <h1>buy one get two amazing offer </h1>

{% endblock %}